.page{
    background-color: #fff;
    justify-content: center;
}
h2{
    color: grey;
}

.mainContentss{
    padding: 16vh;
    padding-left: 170px;
    width: 100%; 
    height: 96vh; 
    display: flex;
    flex-direction: column;
    background-color: #fff; 
}
